<div class="e-popup_holder">
    <div class="e-popup_container">
        <div class="close_popup">
            <i class="ico-cross_left"></i>
            <i class="ico-cross_right"></i>
        </div>
        <h1>{{ data.popups.order_sim.heading }}</h1>
        <form class="popup_form popup_text">
            <div class="form_center">
                <input type="radio" name="plan_type" id="individual">
                <label for="individual">{{ data.popups.order_sim.order_type.individual }}</label>
                <input type="radio" name="plan_type" id="legal_entity">
                <label for="legal_entity">{{ data.popups.order_sim.order_type.legal_entity }}</label>
            </div>
            <h3 class="popup-title title_border">{{ data.popups.order_sim.form.headings.pers_info }}</h3>
            <div class="form_input">
                <label for="name">{{ data.popups.order_sim.form.info_fields.titles.name }}</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="form_input">
                <label for="phone">{{ data.popups.order_sim.form.info_fields.titles.phone }}</label>
                <input type="text" name="phone" id="phone">
            </div>
            <div class="form_input">
                <label for="email">{{ data.popups.order_sim.form.info_fields.titles.email }}</label>
                <input type="text" name="email" id="email">
            </div>
            <h3 class="popup-title title_border">{{ data.popups.order_sim.form.headings.plan }}</h3>
            <button class="popup_button">
                {{ data.popups.order_sim.button }}
                <i class="ico-a_right"></i>
            </button>
        </form>
    </div>
</div>