<div data-popup="plan" class="e-popup_section">
  <h1>{{ data.popups.order_sim.heading }}</h1>
  <form class="popup_form popup_text" id="popup_form" data-form_action="business">
      <h3 class="popup-title title_border">{{ data.popups.order_sim.form.headings.pers_info }}</h3>
      <div class="form_input">
        <label for="name">{{ data.popups.order_sim.form.info_fields.titles.name }}</label>
        <input type="text" name="name" id="name" class="validate" data-validate="text">
        <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.name }}</div>
      </div>
      <div class="form_input">
        <label for="surname">{{ data.popups.order_sim.form.info_fields.titles.surname }}</label>
        <input type="text" name="surname" id="surname" class="validate" data-validate="text">
        <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.surname }}</div>
      </div>
      <div class="form_input">
        <label for="phone">{{ data.popups.order_sim.form.info_fields.titles.phone }}</label>
        <input type="text" name="phone" id="phone" class="validate" data-validate="phone">
        <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.phone }}</div>
      </div>
      <div class="form_input">
        <label for="email">{{ data.popups.order_sim.form.info_fields.titles.email }}</label>
        <input type="text" name="email" id="email" class="validate" data-validate="email">
        <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.email }}</div>
      </div>

      <button class="popup_button" type="submit">
          {{ data.popups.order_sim.button }}
          <i class="ico-a_right"></i>
      </button>
  </form>
</div>