{% extends 'index.twig' %}
{% block page %}
    <section class="p_inner">
        <div class="block-B">
            <div class="e-heading-inner">
                <h1 class="e-heading c__w">
                    {{ index.page_title|raw }}
                </h1>
            </div>
            <a href="{{ path(data.plans_button.link, {_locale: app.request.locale}) }}" class="e-inner-banner bg__trans_grey e-hover_opacity">
                <div class="t-banner_s">
                    <span class="t-banner_t">{{ data.plans_button.text }}</span>
                    <div class="t-banner_h">{{ data.plans_button.title }}<i class="ico-a_big-right"></i></div>
                </div>
            </a>
        </div>
        <section class="e-content_container e-content_container-company">
            <div class="e-left_column">
                <div class="e-column_block">
                    <h3 class="e-title__it title_border">{{ index.posts.about_dialoq.heading }}</h3>
                    <section>
                        {{ index.posts.about_dialoq.text1 }}
                    </section>
                    <section>
                        {% for unit in index.posts.about_dialoq.columns %}
                            <ul class="e-column-list">
                                <li>{{ unit.amount }}</li>
                                <li>{{ unit.heading }}</li>
                                <li>{{ unit.text }}</li>
                            </ul>
                        {% endfor %}
                    </section>
                    <section>
                        {{ index.posts.about_dialoq.text2 }}
                    </section>
                </div>
            </div>
            <div class="e-right_column margin_top">
                <div class="e-column_block">
                    <h3 class="e-title__it title_border">{{ index.posts.seurity_level.heading }}</h3>
                    <section>
                        {{ index.posts.seurity_level.text1 }}
                    </section>
                    <div class="e-column_img">
                        {{ index.posts.seurity_level.map|raw }}
                    </div>
                    <section>
                        {{ index.posts.seurity_level.text2 }}
                    </section>
                </div>
            </div>
            <div class="e-after_column_content">
                <div class="explore_holder c__w">
                    <div class="explore_ico">
                        {{ index.posts.bottom_info.logo|raw }}
                    </div>
                    <div class="explore_text">
                        {{ index.posts.bottom_info.logo_text|raw }}
                    </div>
                    <a href="" class="e-hover_opacity">
                        <div class="explore_link">
                            {{ index.posts.bottom_info.explore|raw }}
                            <i class="ico-a_big-right"></i>
                        </div>
                    </a>
                </div>
                <div class="e-heading bottom_heading c__w">{{ index.posts.bottom_info.bigHeading|raw }}</div>
            </div>
        </section>
    </section>
{% endblock %}