{% extends 'index.twig' %}
{% block page %}
<section class="p_inner">
<div class="block-B">
    <div class="e-heading-inner">
        <h1 class="e-heading c__w">
            {{ index.page_title|raw }}
        </h1>
    </div>
    <div class="e-contactInformation c__w">
        {{ index.contactInfo|raw }}
    </div>
    <div class="e-country_contacts c__w">
        {% for country in index.phones %}
            <ul>
                <li>{{ country.name|raw }}</li>
                <li>{{ country.number|raw }}</li>
            </ul>
        {% endfor %}
    </div>
</div>
<section class="e-contact_form_holder">
    <div class="e-support_holder e-support_holder-contacts">
        <div class="e-support-text">
            {{ data.support_text }}
        </div>
        <a href="" class="e-link bg__brown e-hover_opacity">
          <i class="ico-support">{% include 'svg/support.twig' %}</i>
          <span>{{ data.support }}</span>
        </a>
    </div>
    <div class=".e-form_holder e-form_holder-contacts c__w">{% include 'interface/form.twig' %}</div>
</section>
</section>
{% endblock %}