{% extends 'index.twig' %}

{% block page %}

<section class="img-B_h">
  <img alt="" src="{{ app.request.basepath }}/public/images/home.jpg" title="" class="img-B">

  <div class="img-B_text">
    <h1 class="e-heading c__b">{{ index.heading }}</h1>
    <div class="img-B_title">{{ index.subheading }}</div>
  </div>

  <div class="img-B_info-box">{{ index.info_box | raw }}</div>

  <a href="{{ path(data.plans_button.link, {_locale: app.request.locale}) }}" class="t-banner bg__brown">
    <div class="t-banner_s">
      <span class="t-banner_t">{{ data.plans_button.text }}</span>
      <div class="t-banner_h">{{ data.plans_button.title }}<i class="ico-a_big-right"></i></div>
    </div>
  </a>

  <div class="absolute_link">
    <a href="" class="e-link bg__brown">
      <i class="ico-support">{% include 'svg/support.twig' %}</i>
      <span>{{ data.support }}</span>
    </a>
  </div>
</section>

<section class="plans-b">
  {% for plans,items in index.plans_banner %}
      <div class="plans-s {{ plans }}">
        <h3 class="e-title__it title_border">{{ items.title }}</h3>
        {% for banner in items.content %}
          <div class="plans-i plan_{{ loop.index }}">
            <div class="plans-bg"></div>
            <div class="plans-content banner_state">
              <h4 class="e-title__hv hv_big">{{ banner.title | raw }}</h4>
              <div class="plans-t_text">{{ banner.top_text }}</div>
              <a href="" class="plans-b_text-more">{{ banner.bottom_text }}<div class="plans-l">{{ banner.link_text }}</div></a>
            </div>
            <a href="" class="plans-button">
              <div class="plans-button_text">{{ banner.button_text }}<i class="ico-a_right"></i></div>
            </a>
          </div>
        {% endfor %}
      </div>
  {% endfor %}
</section>

{% include 'interface/banners.twig' %}
{% endblock %}