{% extends 'index.twig' %}

{% block page %}

<section class="p_inner">
  <div class="inner_content">
    <div class="e-inner_heading">
      <h1 class="e-heading c__w">{{ index.page_heading }}</h1>
    </div>

    <div class="plans_info individual">
      {% for plan in index.plans %}
        <div class="plans-i plan_{{ loop.index }}">
          <div class="plans-bg"></div>
          <div class="plans-content">
            <h4 class="e-title__hv hv_big">{{ plan.title }}</h4>
            <div class="plans-b_text">{{ plan.text }}</div>
            <ul class="plan_info-list">
              <li><strong>{{ plan.list.units }}</strong><br><i class="base_tarif">{{ plan.list.tarif }}</i></li>
              <li>{{ data.tarif_minutes }}&nbsp;<strong>{{ plan.list.inet }}</strong></li>
              <li>{{ data.tarif_sms }}&nbsp;<strong>{{ plan.list.sms }}</strong></li>
              <li><strong>{{ plan.list.number }}</strong><br>{{ data.tarif_calls }}</li>
            </ul>
            <ul class="plan_info-list hidden">
              <li>{{ data.time_connect }}<strong>{{ plan.list.conntect }}</strong></li>
              <li>{{ data.per_minute }}<strong>{{ plan.list.per_min }}</strong></li>
              <li>{{ data.out_sms }}<strong>{{ plan.list.outgoing_sms }}</strong></li>
              <li>{{ data.tarif_internet }}<strong>{{ plan.list.overage_internet }}</strong></li>
              <li class="suspend">{{ plan.list.suspend }}</li>
            </ul>
            <div class="plan_download">
              <a href="" class="plan_download-content">
                <i class="ico-a_download"></i>
                <div class="plan_download-text">{{ index.download_text }}</div>
              </a>
            </div>
          </div>
          <a href="" class="plans-button"><div class="plans-button_text">{{ plan.list.button_text }}<i class="ico-a_right"></i></div></a>
        </div>
      {% endfor %}


      <ul class="plan_general-list">
        <li>{{ data.time_connect }}&nbsp;<strong>{{ index.plans[0].list.conntect }}</strong></li>
        <li>{{ data.per_minute }}<br><strong>{{ index.plans[0].list.per_min }}</strong></li>
        <li>{{ data.out_sms }}<strong>{{ index.plans[0].list.outgoing_sms }}</strong></li>
        <li>{{ data.tarif_internet }}<strong>{{ index.plans[0].list.overage_internet }}</strong></li>
        <li class="suspend">{{ index.plans[0].list.suspend }}</li>
      </ul>

    </div>

  </div>
</section>

{% endblock %}