{% extends 'index.twig' %}

{% block page %}

  <section class="p_inner form_content">
    <div class="inner_content">
      <a href="{{ path('home', {_locale: app.request.locale}) }}" class="e_back">{{ data.back }}<i class="ico-a_right"></i></a>
      <div class="form_support_block">
        <div class="form_support_text">{{ data.form_support_text }}</div>
        <a href="tel:{{ data.form_support_real_phone }}">{{ data.form_support_phone }}</a>
      </div>
      <div class="plan_form center">
        <h1 class="form_heading">{{ data.popups.order_sim.heading }}</h1>
        <form class="popup_form popup_text" id="popup_form">
          <section class="form_radio">
            <input type="radio" name="plan_type" id="individual" checked class="e-radio_hover form_switch" data-form="individual">
            <label for="individual">{{ data.popups.order_sim.order_type.individual }}</label>
            <input type="radio" name="plan_type" id="legal" class="e-radio_hover form_switch" data-form="legal">
            <label for="legal">{{ data.popups.order_sim.order_type.legal_entity }}</label>
          </section>

          <h3 class="popup-title title_border">{{ data.popups.order_sim.form.headings.pers_info }}</h3>
          <div class="form_input form_input-company">
            <label for="company">{{ data.popups.order_sim.form.info_fields.titles.company }}</label>
            <input type="text" name="company" id="company" data-validate="text">
            <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.company }}</div>
          </div>
          <div class="form_input">
            <label for="name">{{ data.popups.order_sim.form.info_fields.titles.name }}</label>
            <input type="text" name="name" id="name" class="validate" data-validate="text">
            <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.name }}</div>
          </div>
          <div class="form_input">
            <label for="surname">{{ data.popups.order_sim.form.info_fields.titles.surname }}</label>
            <input type="text" name="surname" id="surname" class="validate" data-validate="text">
            <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.surname }}</div>
          </div>
          <div class="form_input">
            <label for="phone">{{ data.popups.order_sim.form.info_fields.titles.phone }}</label>
            <input type="text" name="phone" id="phone" class="validate" data-validate="phone">
            <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.phone }}</div>
          </div>
          <div class="form_input">
            <label for="email">{{ data.popups.order_sim.form.info_fields.titles.email }}</label>
            <input type="text" name="email" id="email" class="validate" data-validate="email">
            <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.email }}</div>
          </div>

          <h3 class="popup-title title_border">{{ data.popups.order_sim.form.headings.address }}</h3>
          <div class="form_input">
            <label for="country">{{ data.popups.order_sim.form.address_fields.titles.country }}</label>
            <select id="country" name="country">
              {% for country, title in countries %}
                <option value="{{ country }}">{{ title }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form_input">
            <label for="city">{{ data.popups.order_sim.form.address_fields.titles.city }}</label>
            <input type="text" class="validate" id="city" name="city" data-validate="text">
            <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.city }}</div>
          </div>
          <div class="form_input">
            <label for="address">{{ data.popups.order_sim.form.address_fields.titles.address }}</label>
            <input type="text" class="validate" id="address" name="address" data-validate="text">
            <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.address }}</div>
          </div>
          <div class="form_input">
            <label for="zip">{{ data.popups.order_sim.form.address_fields.titles.zip }}</label>
            <input type="text" class="validate" id="zip" name="address" data-validate="text">
            <div class="pers_info_input_error">{{ data.popups.order_sim.form.info_fields.errors.zip }}</div>
          </div>

          <h3 class="popup-title title_border">{{ data.popups.order_sim.form.headings.plan }}</h3>
          <section class="plan_holder">
            <span class="plan_title">{{ data.popups.order_sim.form.headings.plan }}</span>
            {% for plan in data.popups.order_sim.form.plans %}
              <div class="form_input">
                <input class="e-radio_hover" type="radio" name="plan" id="dialoq_{{ plan.value }}" value="{{ plan.value }}" {{ plan.link == current_plan ? 'checked' : '' }}>
                <label for="dialoq_{{ plan.value }}">{{ plan.title }}<span class="plan_conditions">{{ plan.conditions }}</span></label>
              </div>
            {% endfor %}
          </section>

          <div class="form_input sim_type">
            <div class="form_sim_heading">{{ data.popups.order_sim.form.headings.sim }}</div>
            {% for sim, title in data.popups.order_sim.form.sim_types %}
              <input class="e-radio_hover" type="radio" name="sim" id="{{ sim }}" {{ loop.first ? 'checked' : '' }}>
              <label for="{{ sim }}">{{ title }}</label>
            {% endfor %}
          </div>

          <h3 class="popup-title title_border">{{ data.popups.order_sim.form.headings.invoice }}</h3>
          <div class="form_radio">
            <input class="e-radio_hover" type="radio" name="invoice" id="bank_pay" checked>
            <label for="bank_pay">{{ data.popups.order_sim.form.invoice_fields.bank }}</label>
            <input class="e-radio_hover" type="radio" name="invoice" id="credit_card">
            <label for="credit_card">{{ data.popups.order_sim.form.invoice_fields.credit }}</label>
          </div>

          <div class="form_condition_agreement">
            <input type="checkbox" name="agree" id="agree" data-validate="checkbox" class="validate">
            <label for="agree">{{ data.popups.order_sim.form.headings.agreement }}&nbsp;<span class="tc_click show_popup" data-action="terms">{{ data.popups.order_sim.form.headings.tc }}</span></label>
          </div>

          <button class="popup_button" type="submit">
            {{ data.popups.order_sim.button }}
            <i class="ico-a_right"></i>
          </button>
    </form>
      </div>
    </div>
  </section>

{% endblock %}