{% extends 'index.twig' %}

{% block page %}

<section class="p_inner {{ app.request.attributes.get('_route') == 'plans' ? 'top_style' : '' }}">
  <div class="inner_content">
    <div class="e-inner_heading">
      <h1 class="e-heading c__w">{{ index.page_heading }}</h1>
    </div>
  <div class="plans_section">
    <div class="plans_info individual">
      {% for plan in index.plans %}
        <div class="plans-i plan_{{ loop.index }}">
          <div class="plans-bg"></div>
          <div class="plans-content">
            <h4 class="e-title__hv hv_big">{{ plan.title | raw }}</h4>
            <div class="plans-b_text">{{ plan.text }}</div>
            <ul class="plan_info-list">
              <li><strong>{{ plan.list.units }}</strong><br><i class="base_tarif">{{ plan.list.tarif }}</i></li>
              <li>{{ data.tarif_minutes }}&nbsp;<strong>{{ plan.list.inet }}</strong></li>
              <li>{{ data.tarif_sms }}&nbsp;<strong>{{ plan.list.sms }}</strong></li>
              <li><strong>{{ plan.list.number }}</strong><br>{{ data.tarif_calls }}</li>
            </ul>
            <ul class="plan_info-list hidden">
              <li>{{ data.time_connect }}<strong>{{ plan.list.conntect }}</strong></li>
              <li>{{ data.per_minute }}<strong>{{ plan.list.per_min }}</strong></li>
              <li>{{ data.out_sms }}<strong>{{ plan.list.outgoing_sms }}</strong></li>
              <li>{{ data.tarif_internet }}<strong>{{ plan.list.overage_internet }}</strong></li>
              <li class="suspend">{{ plan.list.suspend }}</li>
            </ul>
            <div class="plan_download">
              <a href="" class="plan_download-content">
                <i class="ico-a_download"></i>
                <div class="plan_download-text">{{ index.download_text }}</div>
              </a>
            </div>
          </div>
          <a href="" class="plans-button"><div class="plans-button_text">{{ plan.list.button_text }}<i class="ico-a_right"></i></div></a>
        </div>
      {% endfor %}

      <ul class="plan_general-list">
        <li>{{ data.time_connect }}&nbsp;<strong>{{ index.plans[0].list.conntect }}</strong></li>
        <li>{{ data.per_minute }}<br><strong>{{ index.plans[0].list.per_min }}</strong></li>
        <li>{{ data.out_sms }}<br><strong>{{ index.plans[0].list.outgoing_sms }}</strong></li>
        <li>{{ data.tarif_internet }}<br><strong>{{ index.plans[0].list.overage_internet }}</strong></li>
        <li class="suspend">{{ index.plans[0].list.suspend }}</li>
      </ul>
    </div>
    <div class="b_service">
      <h3 class="e-title__hv hv_med">{{ index.service.title }}</h3>
      {{ index.service.subtitle }}
      <ul class="b_service-list">
        {% for item in index.service.package %}
          <li>
            {{ item.title }}<br>
            <strong>{{ item.price }}</strong>
            {% if item.hot is defined %}
              <br>{{ item.hot }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

    <div class="plans_info business">
      <h3 class="business_heading">{{ index.business.title }}</h3>
      <ul class="business_list">
        {% for list in index.business.list %}
          <li>{{ list }}</li>
        {% endfor %}
      </ul>
      <a href="" class="business_button">
        <div class="business_button_text">{{ index.business.button_text }}</div>
        <div class="business_button-arrow">
          {{ index.business.button_short_text }}
          <i class="ico-a_right"></i>
        </div>
      </a>
    </div>

    <div class="plans_banners">
      {% for banner in index.bottom_section %}
        <div class="plans-s">
          <h3 class="e-title__it title_border">{{ banner.title }}</h3>
          {% for service in banner.items %}
            <div class="f-banner_b">
              <div class="f-banner_svg">{{ service.svg | raw }}</div>
              <h4 class="e-title__hv hv_med">{{ service.title }}</h4>
              <div class="f-banner_t">{{ service.text }}</div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>
</section>

{% endblock %}