{% extends 'index.twig' %}

{% block page %}
  <section class="p_inner">
    <div class="block-B">
      <div class="e-heading-inner">
        <h1 class="e-heading c__w">{{ index.page_title | raw }}</h1>
      </div>
      <a href="{{ path(data.plans_button.link, {_locale: app.request.locale}) }}" class="e-inner-banner bg__trans_grey e-hover_opacity">
        <div class="t-banner_s">
          <span class="t-banner_t">{{ data.plans_button.text }}</span>
          <div class="t-banner_h">{{ data.plans_button.title }}<i class="ico-a_big-right"></i></div>
        </div>
      </a>
    </div>
    <section class="e-content_container">
      <div class="e-left_column">
        <h2 class="e-title__it title_border">{{ index.unit.title }}</h2>
        <div class="service_content">
          <i class="svg">{% include 'svg/flat_rate.twig' %}</i>
          <h3 class="service_title c__w">{{ index.unit.heading }}</h3>
          <div class="service_text c__w">{{ index.unit.text }}</div>
          <ul class="column_columns">
            <li>
              <div class="column_svg"><i class="svg">{% include 'svg/mic.twig' %}</i></div>
              <h4 class="columns_title">{{ index.unit.services.first_title }}</h4>
              <div class="columns_text">{{ index.unit.services.first_text }}</div>
            </li>
            <li>
              <div class="column_svg"><i class="svg">{% include 'svg/data_service.twig' %}</i></div>
              <h4 class="columns_title">{{ index.unit.services.second_title }}</h4>
              <div class="columns_text">{{ index.unit.services.second_text }}</div>
            </li>
            <li>
              <div class="column_svg"><i class="svg">{% include 'svg/mail.twig' %}</i></div>
              <h4 class="columns_title">{{ index.unit.services.third_title }}</h4>
              <div class="columns_text">{{ index.unit.services.third_text }}</div>
            </li>
          </ul>
          <div class="service_text c__w">{{ index.unit.more_text }}</div>
        </div>
      </div>
      <div class="e-right_column margin_top">
        <h2 class="e-title__it title_border">{{ index.number.title }}</h2>
        <div class="service_content">
          <div class="service_text c__w">{{ index.number.text }}</div>
          {% if index.number.banner is defined %}
            <div class="service_banner">
              <div class="service_banner-text">{{ index.number.banner.text }}</div>
              <div class="service_banner-info">
                <div class="service_banner-left_text">{{ index.number.banner.left_text | raw }}</div>
                <div class="service_banner-right_section">
                  <ul class="service_banner-icons">
                    <li>
                      <i class="ico-circle_text">{{ index.number.banner.first_number }}</i>
                      <i class="ico-a_small"></i>
                      <div class="service_banner-country">{{ index.number.banner.first_number_title | raw }}</div>
                      <i class="ico-a_small"></i>
                    </li>
                    <li>
                      <i class="ico-circle_text">{{ index.number.banner.second_number  }}</i>
                      <i class="ico-a_small"></i>
                      <div class="service_banner-country">{{ index.number.banner.second_number_title | raw }}</div>
                      <i class="ico-a_small"></i>
                    </li>
                  </ul>
                  <i class="svg margin-left">{% include 'svg/phone.twig' %}</i>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="map_section">
        <h2 class="e-title__it title_border">{{ index.country.title }}</h2>
        <div class="map_image"></div>
        <div class="map_title-holder">
          <h3 class="e-heading c__w">{{ index.country.heading }}</h3>
          <span class="map_subtitle">{{ index.country.sub_title }}</span>
          <div class="map_input">
            <form>
              <label for="country">{{ data.availability }}</label>
              <input type="text" name="country" id="country" placeholder="{{ data.type_country }}">
              <button type="submit" class="ico_arrow-button button_absolute bg__brown e-hover_opacity"></button>
            </form>
          </div>
        </div>
        <div class="service_bottom">
          <div class="e-left_column">
            <h2 class="e-title__it title_border">{{ index.payment.title }}</h2>
            <div class="service_content">
              <div class="service_text c__w">{{ index.payment.text }}</div>
              <ul class="payment_methods">
                {% for item in index.payment.methods %}
                  <li>
                    <a href=""><img alt="" src="{{ app.request.basepath }}{{ item }}" title=""></a>
                  </li>
                {% endfor %}
              </ul>
              {#<div class="more_payment">{{ index.payment.short_text }}</div>#}
            </div>
          </div>
          <div class="e-right_column">
            <h2 class="e-title__it title_border">{{ index.business.title }}</h2>
            <div class="service_content">
              <div class="service_text c__w">{{ index.business.text }}</div>
              <div class="service_banner">
                <div class="service_banner-left_text">{{ index.business.banner.left_text | raw }}</div>
                <div class="service_banner-right_svg">
                  <div class="svg_section">
                    <i class="svg">{% include 'svg/phone.twig' %}</i>
                  </div>
                  <div class="svg_section width_static">
                    <i class="svg svg_white">
                      {% include 'svg/charges.twig' %}
                      {% include 'svg/sim.twig' %}
                    </i>
                  </div>
                  <div class="svg_section svg_section-width">
                    <img alt="" src="{{ app.request.basepath }}/public/images/man.png" title="">
                    <img alt="" src="{{ app.request.basepath }}/public/images/man.png" title="">
                    <img alt="" src="{{ app.request.basepath }}/public/images/man.png" title="">
                    <img alt="" src="{{ app.request.basepath }}/public/images/man.png" title="">
                    <img alt="" src="{{ app.request.basepath }}/public/images/man.png" title="">
                    <img alt="" src="{{ app.request.basepath }}/public/images/man.png" title="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="plans_banners">
        <div class="f-banner_b">
          <div class="f-banner_svg">
            <i class="svg">{% include 'svg/best_operator.twig' %}</i>
          </div>
          <h3 class="e-title__hv hv_med">{{ index.footer_banners[0].title }}</h3>
          <div class="f-banner_t">{{ index.footer_banners[0].text }}</div>
        </div>
        <div class="f-banner_b">
          <div class="f-banner_svg">
            <i class="svg">{% include 'svg/data_service.twig' %}</i>
          </div>
          <h3 class="e-title__hv hv_med">{{ index.footer_banners[1].title }}</h3>
          <div class="f-banner_t">{{ index.footer_banners[1].text }}</div>
        </div>
        <div class="f-banner_b">
          <div class="f-banner_svg">
            <i class="svg">{% include 'svg/plans.twig' %}</i>
          </div>
          <h3 class="e-title__hv hv_med">{{ index.footer_banners[2].title }}</h3>
          <div class="f-banner_t">{{ index.footer_banners[2].text }}</div>
        </div>
        <div class="f-banner_b">
          <div class="f-banner_svg">
            <i class="svg">{% include 'svg/support.twig' %}</i>
          </div>
          <h3 class="e-title__hv hv_med">{{ index.footer_banners[3].title }}</h3>
          <div class="f-banner_t">{{ index.footer_banners[3].text }}</div>
        </div>
      </div>
    </section>
  </section>
{% endblock %}