{% extends 'index.twig' %}

{% block page %}
  <section class="p-inner">
    <div class="block-B">
      <div class="e-heading-inner">
        <div class="e-heading_question">{{ index.question }}</div>
        <h1 class="e-heading c__w">{{ index.page_title | raw }}</h1>
          <a href="" class="e-link bg__brown">
            <i class="ico-support">
              <?xml version="1.0" encoding="utf-8"?>
              <svg version="1.1" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                   x="0px" y="0px" width="22px" height="35px" viewBox="0 0 22 35" xml:space="preserve">
                <g>
                  <path fill="none" d="M11,2.375c-4.962,0-9,4.038-9,9c0,3.699,2.231,6.978,5.685,8.351L8,19.852V26h6v-6.148l0.315-0.126
                    C17.769,18.353,20,15.075,20,11.375C20,6.413,15.963,2.375,11,2.375z"/>
                  <path fill="#FFFFFF" d="M11,1.375c-5.514,0-10,4.486-10,10c0,3.998,2.344,7.552,6,9.148V27h8v-6.477c3.656-1.596,6-5.15,6-9.148
                    C21,5.861,16.514,1.375,11,1.375z M14.315,19.726L14,19.852V26H8v-6.148l-0.315-0.126C4.231,18.353,2,15.074,2,11.375
                    c0-4.962,4.038-9,9-9c4.963,0,9,4.038,9,9C20,15.075,17.769,18.353,14.315,19.726z"/>
                </g><line fill="none" stroke="#FFFFFF" x1="7" y1="29.5" x2="15" y2="29.5"/>
                <g>
                    <polygon fill="#FFFFFF" points="15,33 15,32 7,32 7,33 9,33 13,33 	"/><rect x="9" y="33" fill="#FFFFFF" width="4" height="1"/>
                    <path fill="#FFFFFF" d="M11,5.625v-1c-3.667,0-6.65,2.983-6.65,6.65h1C5.35,8.16,7.885,5.625,11,5.625z"/>
                </g>
                <path fill="none" stroke="#FFFFFF" d="M4.85,11.274"/>
              </svg>
            </i>
            <span>{{ data.find }}</span>
          </a>
      </div>
    </div>

    <section class="support_section">
      <div class="left_side">
        {% for list in index.support_list %}
          <div class="support_list">
            <h3 class="e-title__hv hv_small-upper">{{ list.title }}</h3>
            <ul class="e_list">
              {% for item in list.list %}
                <li class="e_list-item">
                  <span class="e_list-title">{{ item.title }}<i class="ico-a_circle"></i></span>
                  <div class="e_list-hidden">{{ item.list }}</div>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      <div class="right_side">
        <h3 class="e-title__it title_border">{{ index.right_section.title }}</h3>
        <ul class="contacts_list">
          {% for item in data.contacts %}
            <li>
              <span>{{ item.name }}</span><br>
              <strong><a href="tel:{{ item.number }}">{{  item.number }}</a></strong>
            </li>
          {% endfor %}
          {% if data.emails is defined %}
            {% for email in data.emails %}
              <li>
                <span>{{ data.email }}</span><br>
                <i><a href="mailto:{{ email }}">{{ email }}</a></i>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        <div class="right_form c__w">
          {% include 'interface/form.twig' %}
        </div>
        <div class="e-support_holder">
          {% include 'interface/online_support.twig' %}
        </div>
      </div>
    </section>
    <section class="two_banner">
      {% for banner in index.banners %}
        <div class="banner_info">
          <div class="plans-bg"></div>
          <div class="banner_content">
            <h4 class="e-title__hv hv_big">{{ banner.title }}</h4>
            <div class="banner_text">
              <i class="banner_svg">{% include 'svg/blump.twig' %}</i>
              <div class="banner_text-content">{{ banner.text }}</div>
            </div>
          </div>
        {% if banner.button is defined %}
          <a href="" class="plans-button brown">
            <div class="plans-button_text">{{ banner.button }}<i class="ico-a_right"></i></div>
          </a>
        {%  endif %}
        </div>
      {% endfor %}
    </section>
  </section>
{% endblock %}