{% extends 'index.twig' %}

{% block page %}
  <section class="p-inner">
    <div class="block-B">
      <div class="e-heading-inner modify_bg">
        <div class="e-heading_question">{{ index.question }}</div>
        <h1 class="e-heading c__w">{{ index.page_title | raw }}</h1>
          <a href="" class="e-link bg__brown e-hover_opacity">
            <i class="ico-support ">{% include 'svg/question.twig' %}</i>
            <span>{{ data.find }}</span>
          </a>
      </div>
    </div>

    <section class="support_section">
      <div class="left_side">
        {% for list in index.support_list %}
          <div class="support_list">
            <h3 class="e-title__hv hv_small-upper">{{ list.title }}</h3>
            <ul class="e_list">
              {% for item in list.list %}
                <li class="e_list-item">
                  <span class="e_list-title">{{ item.title }}<i class="ico-a_circle"></i></span>
                  <div class="e_list-hidden">{{ item.list }}</div>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
      <div class="right_side">
        <h3 class="e-title__it title_border">{{ index.right_section.title }}</h3>
        <ul class="contacts_list">
          {% for item in data.contacts %}
            <li>
              <span>{{ item.name }}</span><br>
              <strong><a href="tel:{{ item.number }}">{{  item.number }}</a></strong>
            </li>
          {% endfor %}
          {% if data.emails is defined %}
            {% for email in data.emails %}
              <li>
                <span>{{ data.email }}</span><br>
                <i><a href="mailto:{{ email }}">{{ email }}</a></i>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        <div class="right_form c__w">
          {% include 'interface/form.twig' %}
        </div>
        <div class="e-support_holder modify_bg">
          {% include 'interface/online_support.twig' %}
        </div>
      </div>
    </section>
    <section class="two_banner">
      {% for banner in index.banners %}
        <div class="banner_info">
          <div class="plans-bg"></div>
          <div class="banner_content">
            <h4 class="e-title__hv hv_big">{{ banner.title }}</h4>
            <div class="banner_text">
              <i class="banner_svg">{% include 'svg/blump.twig' %}</i>
              <div class="banner_text-content">{{ banner.text }}</div>
            </div>
          </div>
        {% if banner.button is defined %}
          <a href="" class="plans-button brown">
            <div class="plans-button_text">{{ banner.button }}<i class="ico-a_right"></i></div>
          </a>
        {%  endif %}
        </div>
      {% endfor %}
    </section>
  </section>
{% endblock %}